/* principal */
.titre_p{
    background-color: rgb(5, 133, 197);   
    width: 840px;
    margin-bottom: 1PX;
}
.retour{
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: auto;
    padding-top: auto;
    color: white;
}
.retour a button{
    background-color: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
}
.retour a button:hover{
    background: rgb(203, 214, 223);
    cursor: pointer;
}
.text-up{
    font-size: 27px;  
    color: rgb(84, 90, 92);  
    margin-top: 0px;
    margin-bottom: 20px;
}
.avis-up{
    font-size: 50px;    
    color: rgba(151, 155, 156, 0.479);
}
a{
    text-decoration:none;
}
.principal{
    width: 900px;
    height: auto;
    box-shadow: #bebebe 0px 1px 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.logo_header{
    width: 500px;
    height: 300px;
    margin-right: 30px ;  
    border-radius: 10px;
    box-shadow: #838383 1px 1px 10px;
}
.logo_header:hover{
    background-color: rgba(0, 0, 0, 0.39);
    opacity: white;
}
.infos_general{
    width: 300px;
    height: 300px;
    left: auto;
}

.icon{
    width: 45px;
    height: 45px;
}
header aside h1,h2,h3{
    width: auto;
    font-family: calibri;
}
header aside h1{
    font-size: 40px;
    margin-top: 0px;
    color: rgb(148, 94, 58);
}

.description{
    font-size: 30px;
    margin: 20px;
    width: auto;
    height: 9cm;
    font-family: cambria;
}
.description p{
    font-size: 20px;
}


/* flex recherche */
.fast-research{
    border: 1px solid black;
    margin: 20px;
    display: inline-flex;
}