header {
    padding: 0;
    margin: 0;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.header-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
}

.nom_site {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #05b8ff;
    font-size: 30px;
}
.img-logo{
    width: 50px;
    border: 2px solid rgb(87, 135, 127);
}
.recherche_form {
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
}

.recherche {
    display: flex;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.search_input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    background-color: #f1f1f1;
    font-size: 16px;
}

.fa-search {
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.fa-search:hover {
  background-image: linear-gradient(-225deg, #625EB1 0%, #1D8FE1 48%, #22E1FF 100%);
}




/* utilisateur */
.user-activity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notif {
    position: relative;
   
    padding: 10px;
}

.nb-notif {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: rgb(198, 86, 86);
    color: white;
    font-size: 12px;
    padding: 6px;
    border-radius: 50%;
}

.fa-bell-header,
.fa-user-header {
    font-size: 20px;
    color: #444;
    padding: 10px;
    background-color: #eee;
    border-radius: 50%;
}



/* menu de navigation */
#navigation {
    width: 100%;
}

.nav-bar {
    max-width: 1200px;
    width: max-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#liste_menu {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

#liste_menu li {
    list-style: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

#liste_menu a {
    text-decoration: none;
    color: white;
}

#liste_menu li:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
}

.user-nav {
    display: flex;
    gap: 10px;
}

.user-nav input[type="button"] {
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#inscription {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#connexion {
    background-color: white;
    color: #05b8ff;
}

#inscription:hover {
    background-color: #4d4d4dc7;
}

#connexion:hover {
    background-color: #f8f8f8;
    color: #4d4d4dc7;
}

#menu {
    margin: 20px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    border: 1.5px solid #ffffff;
    background: transparent;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.line_l1,
.line_l2,
.line_l3 {
    position: absolute;
    width: 70%;
    height: 2px;
    background: #ffffff;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.line_l1 {
    transform: translateY(-10px);
}

.line_l3 {
    transform: translateY(10px);
}

#menu.active .line_l1 {
    transform: translateY(0) rotate(135deg);
}

#menu.active .line_l2 {
    opacity: 0;
}

#menu.active .line_l3 {
    transform: translateY(0) rotate(-135deg);
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    #liste_menu {
        flex-direction: column;
        width: 100%;
    }

    #menu {
        display: flex;
    }
}